html, body {
  height: 100%;
}


.dark{
    background-color: pink;
}
body{
   transition: background-color 0.5s linear;
}

.button {
  position: relative;
  top: 100px;
  width: 120px;
  height: 358px;
  border-radius: 8px;
  background-image: url("../img/switch-off.png");
  cursor: pointer;
  transition: all 0.5s;
}
h1{
    font-size: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    
}

.focused{
 /*   background-color: pink;
    background-image: url("../img/switch-off.png");*/
    
}

.active{
    background-image: url("../img/switch-on.png");
    top: 300px;
    left: 400px;
}
