html, body {
  height: 100%;
    
}


.dark{
     background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1));
}
body{
   transition: background-color 0.5s linear;
}

.button {
  position: relative;
  top: 100px;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  margin-left: 550px;
  margin-top: 200px;
  background-image: url("../button-29286_960_720.png");
  cursor: pointer;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  transition: all 0.7s;
}
h1{
    font-size: 5em;
    font-family: sans-serif;
    position: absolute;
    margin-left: 300px;
    top: 20px;
    left: 20px;
    
}

.focused{
 /*   background-color: pink;
    background-image: url("../img/switch-off.png");*/
    
}

.active{
    background-image: url("../Off_Button.png");
      background-size: 300px 300px;
    
}
.active2{
  background-image: url("../traffic-stop-sign.png");
  margin-left: 100px;
  position: absolute;
  width: 350px;
  height: 400px;
  background-size: 350px 400px;
  background-repeat: no-repeat;
  border-radius: 80px;
  transition: all 0.7s;
  display: none;
    
}
.active3{
  background-image: url("../traffic-stop-sign.png");
  margin-left: 800px;
  position: absolute;
  width: 350px;
  height: 400px;
  background-size: 350px 400px;
  background-repeat: no-repeat;
  border-radius: 80px;
  transition: all 0.7s;
  display: none;
    
}